.site-footer {
	background-color: $footer-background;
	color: $footer-text;
	line-height: 2.4em;
	font: {
		family: $footer-font-family;
		weight: $footer-font-weight;
	}

	.wrap {
		padding: 30px 0;
	}

	a {
		color: $footer-text;
		text-decoration: none;
	}

	ul {
		margin-left: 0;
		font: {
			family: $footer-font-family;
			weight: $footer-font-weight;
		}

		li {
			display: inline-block;
			list-style-type: none;
			border-left: 1px solid #FFF;
			line-height: 1rem;
			margin: .2em 0 .2em .75em;
			padding-left: .75em;

			&:first-child {
				border-left: none;
				margin-left: 0;
				padding-left: 0;
			}
		}
	}

	.footer-container-tamus {
		text-align: center;
	}

	.footer-tamus {
		border: 2px solid $footer-text;
	}

	@include breakpoint(medium up) {
		text-align: left;

		.wrap {
			@include xy-grid;
		}

		.footer-container {
	    @include xy-cell-base();
	    @include xy-cell-static(10, $gutter-type: padding, $gutters: 2rem);
		}

		.footer-container-tamus {
	    @include xy-cell-base();
	    @include xy-cell-static(2, $gutter-type: padding, $gutters: 2rem);
	    text-align: right;
		}

		.req-links li {
			font-size: 1em;
		}

	}

}
