.site-title-text {
	color: $whiter;
	display: inline-block;
	line-height: 1.35;
	margin: 0;
	font: {
		size: 1.125rem;
		family: $header-font-family;
		style: normal;
		weight: 400;
	}
}

.agrilife-mobile-logo {
	border-right: 2px solid $light-green;
	margin-right: $grid-margin-gutters / 2;
	padding: {
		right: $grid-margin-gutters / 2;
		top: $grid-margin-gutters / 4;
		bottom: $grid-margin-gutters / 4;
	}
}

.site-header {
	.grid-container .top-bar-left {
    margin: 0;
	}

	.site-title {
		> a.grid-x {
			align-items: center;
		}
		.agrilife-mobile-logo {
			img {
				width: 28px;
			}
		}
	}

	.nav-primary {
		#header-search {
			margin: {
				left: 0;
				right: 0;
				bottom: 0;
			}
		}

		@include breakpoint(medium) {
			.title-bars {
				display: none;
			}
		}

		.title-bars .title-bar,
		.title-bars .title-bar.title-bar-navigation .title-bar-title {
	    padding: 0;
		}

		.title-bar-search {
			border-right: none;
			width: 100%;

			.search-icon {
				display: none;
			}
		}
	}

	input[type=search] {
		color: $black;
	}
}

.title-bars.medium-shrink.title-bar-right {
	@include breakpoint(medium) {
		// display: none;
	}
}
