$small-vertical-spacing: 20px;

@include breakpoint(small only) {
	.site-container {
		overflow: hidden;
	}
}

// Home content styling
.entry-content {
	background-color: $dark-blue;
}

#overview {
	background: transparent url("../images/home-background.jpg") no-repeat {
		size: cover;
	}
	color: #FFF;

	@include breakpoint(medium up) {
		padding-bottom: 30px;
	}

	h1 {
		padding-top: 36px;
		color: #FFF;

		.heading-1 {
			background: $dark-blue url("../images/leaders-in.png") no-repeat center center {
				size: 88%;
			}
			white-space: nowrap;
			text-indent: 1000rem;
			overflow: hidden;
			display: block;
			width: calc(100% - 18px);
			height: 90px;
			border-right: 1px solid $light-green;
		}

		.heading-2 {
			font: {
				family: $header-font-family;
				size: 2.25rem;
			}
			text-transform: uppercase;
			line-height: 1em;
			display: block;
			padding: 15px 8px;

			@include breakpoint(small only){
				margin: {
					left: $small-side-spacing;
					right: $small-side-spacing;
				}
			}

			@media screen and (max-width: 380px){
				font-size: 2rem;
			}

			@media screen and (max-width: 340px){
				font-size: 1.9rem;
			}
		}

		@include breakpoint(medium up) {
			@include xy-grid;

			margin: 0;
			padding: 6% 0 14%;

			span {
				@include xy-cell-base();

				display: inline-block;
				vertical-align: top;
			}

			.heading-1 {
				@include xy-cell(auto, $gutter-type: padding, $gutters: 2rem);

				background-position: 80% center;
				height: auto;
			}

			.heading-2 {
				@include xy-cell(4, $gutter-type: padding, $gutters: 2rem);

				width: 450px;
				font-size: 2.5rem;
				padding: {
					top: 0;
					bottom: 0;
				}
			}

			@media (max-width: 865px) {
				.heading-1,
				.heading-2 {
					@include xy-cell(6, $gutter-type: padding, $gutters: 2rem);
				}

				.heading-1 {
					background: {
						size: 90%;
						position: center center;
					}
				}

				.heading-2 {
					font-size: 2rem;
				}
			}
		}
	}
}

#action-items {
	text-align: center;

	.item {
		background: $maroon-alt;
		color: $whiter;
		position: relative;

		h2,
		.description {
			padding: 12px;
		}

		h2 {
			color: #FFF;
			font-size: 1.45em;
			line-height: 23px;
			margin: 0;
			text-transform: uppercase;
			word-wrap: break-word;
		}

		.description {
			padding-top: 0;
		}

		.button {
			background-color: $light-blue-alt;
			box-sizing: border-box;
			border: none;
			font: {
				family: $header-font-family;
				size: 1.45rem;
			}
			padding: 4px;
			text-transform: uppercase;
			width: 100%;
		}
	}

	@include breakpoint(small only) {
		$featured-item-height: 404px;

		margin: {
			left: $small-side-spacing;
			right: $small-side-spacing;
		}
		padding: {
			top: $featured-item-height + $small-vertical-spacing * 2;
			bottom: $small-vertical-spacing;
		}
		position: relative;

		&::before {
			background: #FFF;
			bottom: 0;
			content: "";
			display: block;
			left: -15%;
			position: absolute;
			right: -15%;
			top: $featured-item-height + $small-vertical-spacing;
			z-index: 1;
		}

		&::after {
			background: #FFF;
			border: 2px solid $light-green {
				width: 0 0 2px 2px;
			}
			bottom: 0;
			content: "";
			display: block;
			height: 40px;
			left: calc(50% - 2px);
			position: absolute;
			transform: rotate(-45deg) translateX(-50%);
			width: 40px;
			z-index: 2;
		}

		.item {
			max-width: 500px;
			margin: $small-vertical-spacing auto;
			position: relative;
			z-index: 2;

			&.featured {
				background: transparent;
				margin: {
					top: 0;
					bottom: 0;
				}
				max-width: 100%;
				position: absolute;
				top: 0;
				width: 100%;

				.wrap {
					background: {
						color: $maroon-alt;
						repeat: no-repeat;
						size: 500px 354px;
						position: center top;
					}
					margin: 0 auto;
					max-width: 500px;
					padding-top: 354px;
				}

				img {
					display: none;
				}
			}

			h2 br {
				display: none;
			}
		}
	}

	@include breakpoint(medium up) {
		@include xy-grid;
		font-size: 13px;

		.item {
			$top-item-padding: 16px;
			$side-item-padding: 6%;

			@include xy-cell-base();
			position: relative;

			&:not(.featured) {
				@include xy-cell(auto, $gutter-type: margin, $gutters: 1rem);
			}

			&.featured {
				@include xy-cell(3, $gutter-type: margin, $gutters: 1rem);
				position: relative;

				.wrap {
					background: {
						image: none!important;
						color: $maroon-alt;
					}
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
				}
			}

			&.item-1,
			&.item-5 {
				align-items: center;
				display: flex;
				justify-content: center;
			}

			.wrap {
				width: 100%;
			}

			h2 {
				padding: $top-item-padding $side-item-padding;
			}

			.description {
				font-size: 13px;
				line-height: 15px;
				margin-top: -($top-item-padding / 2);
				padding: 0 $side-item-padding $top-item-padding;

				&#mc_embed_signup {
					padding: {
						left: 16px;
						right: 16px;
					}
				}

				&.has-line::before {
					background: $light-green;
					content: "";
					display: block;
					height: 2px;
					margin: 0 auto ($top-item-padding / 2);
					width: 20px;
				}

				ul {
					list-style-position: outside;
					margin: 0;
					padding: 0;

					li {
						list-style-type: none;
						line-height: 15px;
						margin-top: 10px;

						&:first-child {
							margin-top: 0;
						}
					}
				}
			}

			#mce-EMAIL,
			#mc-embedded-subscribe {
				height: 32px;
			}

			#mc-embedded-subscribe {
				line-height: 24px;
			}
		}
	}

	@media screen and (min-width: 758px){
		.item .button {
			font-size: 1.5rem;
		}
	}

	@media screen and (min-width: 1080px){
		.big {
			font-size: 1.75em;
			line-height: 1em;
		}
	}

	@include breakpoint(xlarge) {
		.item {
			&.item-1 {
				margin-left: 0;
			}

			&.item-5 {
				margin-right: 0;
			}
		}
	}
}

.flowchart .flowchart-row .item.college img {
	max-height: 100px;
}
