/* Default Page and Post styles */

.page-template {
	&.full-width-content .content-sidebar-wrap .content,
	&.full-width-content .sidebar-content-wrap .content {
		padding: 0;
	}

	.content-sidebar-wrap .content {
		margin-top: 0;
	}

	.site-inner > .wrap {
		max-width: 100%;
	}

	.site-inner {
		padding: 0;
	}
}

.page-template-default,
.post-template-default {
	h1 {
	  text-align: center;
	  padding: 1em 0;

	  &:after {
	    content: "";
	    display: block;
	    width: 4rem;
	    margin: 1.5rem auto 0;
			border-bottom: 2px solid #B4D234;
		}
	}

	h2 {
		text-align: center;
		display: inline-block;

		&::after {
	    content: "";
	    display: block;
	    margin: 0.4rem auto 0;
			border-bottom: 2px solid #27A9E1;
		}

		a {
			color: #0a0a0a;

			&, &:hover {
				text-decoration: none;
			}

			&:hover {
				color: #500000;
			}
		}
	}

	.button{
		display: inline-block;
	  background-color: #B4D234;
	  padding: 10px 50px;
	  text-transform: uppercase;
	  font-weight: bold;
	}

	a.button {
		text-decoration: none;
	}

	@include breakpoint(50rem) {
		.entry-content {
	    max-width: 50rem;
	    margin: 0 auto;
		}
	}
}
